Repository Dhruv-mak/HelperHub, pull requests merged in 2025-03, with the labels that each got.

#108 Feat: Update CODEOWNERS to include additional owner for backend
  CODEOWNERS
Labels: task, project-setup

#135 Refactor: Navbar component to use consistent button naming and improve skill selection UI in EditVolunteerProfile
  frontend/src/components/EditVolunteerProfile.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Navbar.types.tsx
  frontend/src/contexts/auth-context.tsx
  frontend/src/pages/DashBoard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/VoluteerRegistration.tsx
Labels: enhancement, frontend

#137 Feat: Delete Button for users to delete their account(Fixes #136)
  frontend/src/components/DeleteOrganizationProfile.tsx
  frontend/src/pages/DashBoard.tsx
Labels: enhancement, frontend

#138 Unit test
  backend/routes/Application_test.go
  backend/routes/Category_test.go
  backend/routes/Opportunity_test.go
  backend/routes/Organization_test.go
  backend/routes/Volunteer_test.go
Labels: backend

#139 Fix test for `TestVolunteerLogin`.
  backend/routes/Volunteer_test.go
Labels: backend, frontend

#142 Feat: Unit Testing for Frontend(Fixes #141)
  frontend/cypress.config.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DeleteOrganizationProfile.test.tsx
  frontend/src/components/EditOrganizationProfile.test.tsx
  frontend/src/components/EditVolunteerProfile.test.tsx
  frontend/src/components/ui/button.cy.tsx
  frontend/src/components/ui/form.cy.tsx
  frontend/src/pages/DashBoard.test.tsx
  frontend/src/test/setup.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: enhancement, task, frontend

#149 Feat: Implemented Unit Test for VolunteerRegistration and OrganizationRegistration(Fixes #148)
  frontend/cypress.config.ts
  frontend/cypress/screenshots/button.cy.tsx/An uncaught error was detected outside of a test (failed).png
  frontend/cypress/screenshots/form.cy.tsx/An uncaught error was detected outside of a test (failed).png
  frontend/cypress/support/e2e.ts
  frontend/src/components/login-form.tsx
  frontend/src/pages/OrganizationRegistration.test.tsx
  frontend/src/pages/VolunteerRegistration.test.tsx
  frontend/src/test/setup.ts
Labels: enhancement, task, frontend

#183 Unit test
  backend/models/models.go
  backend/routes/Opportunity_test.go
  backend/routes/Organization_test.go
  backend/routes/Volunteer_test.go
Labels: backend, test
